<table>
  <tr>
    <td></td>
  </tr>
  <tr>
  	<td><%= form.label :first_name %></td>
  	<td><%= form.text_field :first_name %></td>
  </tr>
  <tr>
    <td><%= form.label :last_name %></td>
    <td><%= form.text_field :last_name %></td>
  </tr>
  <tr>
  	<td><%= form.label :email %></td>
  	<td><%= form.text_field :email %></td>
  </tr>
  <tr>
  	<td><%= form.label :login %></td>
  	<td><%= form.text_field :login%></td>
  </tr>
  <tr>
  	<td><%= form.label :password, form.object.new_record? ? nil : "Change password" %></td>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
  	<td><%= form.label :password_confirmation %></td>
  	<td><%= form.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><%= form.label :age %></td>
	<td><%= form.text_field :age %></td>
  </tr>
</table>
