<table border="0" bordercolor="#ccc" style="" width="850" cellpadding="0" cellspacing="0">
	<tr>
		<td width="250px;">Face Column</td>
		<td>
  		
  		<table border="0" bordercolor="" style="background-color:" width="600" cellpadding="0" cellspacing="0">
      	<tr>
      		<td>
      			<span class="name-info-block">
      	      <h1 style="padding-left:20px;"><%= @user.name %></h1>
        		  <table border="0" bordercolor="#ccc" style="margin:20px;" width="600" cellpadding="0" cellspacing="0">
              	<tr>
              		<td class="name-info-label">Location:</td>
              		<td>Value</td>
              	</tr>
              	<tr>
              		<td class="name-info-label">Rating:</td>
              		<td><%= @user.rating %></td>
              	</tr>
              	<tr>
              		<td class="name-info-label">Age:</td>
              		<td><%= @user.age %></td>
              	</tr>
              	<tr>
              		<td class="name-info-label">Email:</td>
              		<td><%= @user.email %></td>
              </table>  
      		  </span> <!-- End name-info-block -->  
      		</td>
      	</tr>
      	<tr>
      		<td>Upcoming Events</td>
      	</tr>
      	<tr>
      		<td>Past Events</td>
      	</tr>
      </table>
      
      
		</td>
	</tr>
</table>










<div class="profile">
	<div class="profile_pic">
		
	</div>
	<div class="profile_info">
		<h2><%= @user.name %></h2>
		<h4><%= @user.email %></h4>
		<table>
			<tr>
				<td>Age</td>
				<td><%= @user.age %></td>
			</tr>
			<tr>
				<td>Location</td>
				<td><%=h @user.location %></td>
			</tr>
			<tr>
				<td>Rating</td>
				<td><%= @user.rating %></td>
			</tr>
		</table>
	</div>
</div>
<div class="events">
	<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>
<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>


<%= link_to 'Edit', edit_account_path %>
</div>