<table border="0" bordercolor="#ccc" style="margin-left: auto; margin-right: auto;" width="850" cellpadding="0" cellspacing="0">
	<tr>
		<td width="250px;" height="287px;" style="border-right:2px solid #ccc;vertical-align:top;">

		  <img src="http://www.supplies4parties.co.uk/ekmps/shops/4parties/images/mr-bean-rowan-atkinson-famous-celebrity-cardboard-party-face-mask-4939-p.jpg">

		</td>
		<td>
  		
  		<table border="0" bordercolor="" style="" width="600" cellpadding="0" cellspacing="0">
      	<tr>
      		<td>
      			<span class="name-info-block">
      	      <h1 style="padding-left:20px;"><%= @user.name %></h1>
        		  <table border="0" bordercolor="#ccc" style="margin:20px;" width="600" cellpadding="0" cellspacing="0">
              	<tr>
              		<td class="name-info-label">Location:</td>
              		<td>Location<%# @user.location %></td>
              	</tr>
              	<tr>
              		<td class="name-info-label">Rating:</td>
              		<td><%= @user.rating %></td>
              	</tr>
              	<tr>
              		<td class="name-info-label">Age:</td>
              		<td><%= @user.age %></td>
              	</tr>
              	<tr>
              		<td class="name-info-label">Email:</td>
              		<td><%= @user.email %></td>
              </table>  
      		  </span> <!-- End name-info-block -->  
      		</td>
      	</tr>
      	<tr>
      		<td>
      		  <table class="opportunity-table" id="future-opps" border="0" bordercolor="" style="margin:20px; background-color:" width="600" cellpadding="0" cellspacing="0">
            	<tr>
            		<td width="100%" style="border-top:2px #ccc solid; background:#85A2AA; color:white;padding:2px;" ><%= @user.first_name %>'s upcoming events</td>
            	</tr>
            	<tr> <!-- Loop through events today and in the future, up to 5 events -->
            		<td style="padding-top:20px" class="opp-list-block">
            		<div class="date-line">October 10, 2012</div><!-- Loop through all events on this day -->
            		<div class="opp-desc-line"><%= @user.first_name %> is going to [opportunity name] at [location.city], [location.state]</div>
            		<div class="opp-desc-line"><%= @user.first_name %> is going to [opportunity name] at [location.city], [location.state]</div>
            		</td>
            	</tr>
            	<tr>
            	  <td style="padding-top:20px" class="opp-list-block">
            		<div class="date-line">October 12, 2012</div><!-- Loop through all events on this day -->
            		<div class="opp-desc-line"><%= @user.first_name %> is going to [opportunity name] at [location.city], [location.state]</div>
            		</td>
          	  </tr>
            </table>
            
    		  </td>
      	</tr>
      	<tr>
      		<td>
      		  <table class="opportunity-table" id="future-opps" border="0" bordercolor="" style="margin:20px; background-color:" width="600" cellpadding="0" cellspacing="0">
            	<tr>
            		<td width="100%" style="border-top:2px #ccc solid; background:#85A2AA; color:white;padding:2px;" ><%= @user.first_name %>'s past events</td>
            	</tr>
            	<tr> <!-- Loop through up to 5 past events -->
            		<td style="padding-top:20px" class="opp-list-block">
            		<div class="date-line">October 1, 2012</div><!-- Loop through all events on this day -->
            		<div class="opp-desc-line"><%= @user.first_name %> is going to [opportunity name] at [location.city], [location.state]</div>
            		<div class="opp-desc-line"><%= @user.first_name %> is going to [opportunity name] at [location.city], [location.state]</div>
            		</td>
            	</tr>
            	<tr>
            	  <td style="padding-top:20px" class="opp-list-block">
            		<div class="date-line">September 25, 2012</div><!-- Loop through all events on this day -->
            		<div class="opp-desc-line"><%= @user.first_name %> is going to [opportunity name] at [location.city], [location.state]</div>
            		</td>
          	  </tr>
            </table>
      		  
      		</td>
      	</tr>
      </table>      
      
		</td>
	</tr>
</table>







<% if false %>


<div class="profile">
	<div class="profile_pic">
		
	</div>
	<div class="profile_info">
		<h2><%= @user.name %></h2>
		<h4><%= @user.email %></h4>
		<table>
			<tr>
				<td>Age</td>
				<td><%= @user.age %></td>
			</tr>
			<tr>
				<td>Location</td>
				<td>Location<%#=h @user.location %></td>
			</tr>
			<tr>
				<td>Rating</td>
				<td><%= @user.rating %></td>
			</tr>
		</table>
	</div>
</div>
<div class="events">
	<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>
<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path %>
</div>