<div class = "opportunity-list-score">
  <%= opportunity.score %>
</div>
<div class = "opportunity-list">
  <h1><%= opportunity.name %></h1>
    <p><%= opportunity.description %></p>
  <ul>
    <li> <%= opportunity.location%></li>
    <li><%= opportunity.num_ppl%></li>
    <li><%= opportunity.max_ppl%></li>
    <li><%= opportunity.event_start%></li>
    <li><%= opportunity.event_end%></li>
  </ul>
</div>
