<section id="intro">
      <div class="left_side">
        <h2>Hello &amp; Welcome</h2>
        <p>Have you ever had the thought of helping others but didn't know where to start? Helping hand is your answer. We are a web based application pairing those in need with those who are wishing to help. For those wanting to find where in their area they may be of need, our application provides a list of current opportunities and the amount of individuals needed. There is no longer an excuse not to get involved as you can find an volunteer opportunity anywhere and at anytime in your location.</p>
        <%= image_tag("food_web.jpg") %>
      </div>
      <div class="right_side">
        <div id="search_area">
          <h2>Find an opportunity</h2>
          <form class="navbar-search pull-left">
            <input type="text" class="search_form" placeholder="Search">
          </form>
        </div>
              <div>
        <ul>
          <% @opportunity.each do |bob| %>
            <h1><%= link_to(bob.name, opportunity_path(bob)) %></h1>
            <p><%= bob.description %></p>
            <ul>
              <li>Start:<%= bob.event_start%></li>
              <li>End:<%= bob.event_end%></li>
            </ul>
          <% end %>
        </ul>
      </div>
      </div>

      <div id="view_list">
      </div>
    </section>
