<!DOCTYPE html>
<html>
<head>
  <title>Helping Hand</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header id="userbar">
      <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="headerCenter">
              <a class="brand" href= "/" >Helping Hand</a>
              <ul class="nav">
                <% unless logged_in? %>
                  <li><%= link_to "Sign Up", new_account_path, :class => "signup_dialog_button" %></li>
                  <li><%= link_to "Log In", new_user_sessions_path, :class => "login_dialog_button" %></li>
                <% else %>
                  <li><%= link_to "My Account [#{current_user.name}]", account_path %></li>
                  <li><%= link_to "Logout", user_sessions_path, :method => :delete %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    </header>
  </div>
  <section id="main_content">

  <!-- <header id="masthead">
    <ul id="navMenu">
      <li>Some Link</li>
      <li>Some Other Link</li>
    </ul>
  </header> -->

    <section id="flashcontainer"></section>

    <%= yield %>

    <footer id="area-links">
      <dvi><%= yield(:footer) %></div>
    </footer>
  </section>
  <footer id="pagefooter">
      <div id="footerInfo">
        <p class="provider-link">Copyright <%= Time.now.year %> Helping Hand</p>
      </div>
  </footer>
  <script type="text/javascript" src="//use.typekit.net/oyp3uzd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>
